.area1 {
    position: relative;
    z-index: 10;
    background: #f7b9bc;
    height: 80vh;
    clip-path: polygon(  0 0,   100% 0,   100% 70vh,   0% 100%,   0% 100%,   0 100%);
}

.area2 {
    position: relative;
    z-index: 9;
    background: #eda2b0;
    height: 90vh;
    margin-top: -10vh;
    clip-path: polygon(  0% 0%,   100% 0%,   100% 100%,   0% 75vh,   0% 100%,   0 100%);
}
.area3 {
    position: relative;
    z-index: 8;
    background: #df879b;
    height: 70vh;
    margin-top: -15vh;
    clip-path: polygon(  0 0,   100% 0,   100% 55vh,   0% 100%,   0% 100%,   0 100%);
}


.areabox {
    text-align: left;
    color: white;
    font-family: system-ui;
}

.areabox .boxTitle {
    border-bottom: white 1px solid;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.areabox .boxContent {
    padding-top: 10px;
    font-size: 1em;
    margin-bottom: 40px;
}

.area1 .areabox {
    margin-top: -15vh;
}