body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    background: linear-gradient(to bottom right, #fff5f5, #fffbe6);
    color: #8B4513;
    text-align: center;
    overflow-x: hidden;
    background: url("../img/bg.jpg");
    background-position: center top;
    background-size: 100vw 100vh;
}
